@using Microsoft.AspNetCore.Components
@using mssp_application.Models
@inject MongoConnection mongoConnection

<div class="activity-section">
    <div class="activity-title">
        <h1>Activités</h1>
    </div>
    <div class="cards-container">
        @foreach (var card in mongoConnection.Activities)
        {
            <div class="activity-card" style="background-image: url('@card.ImageUrl')">
                <img src="/images/img1.jpg" alt="@card.Title" class="card-icon" />
                <div class="card-overlay">
                    <h2 class="card-info">@card.Title</h2>
                    <p class="card-description">@card.Description</p>
                    <a href="@card.Link" class="card-link">En savoir plus</a>
                </div>
            </div>
        }
    </div>
</div>

@code {
    // Load activities from MongoDB
    protected override async Task OnInitializedAsync()
    {
        if (!mongoConnection.Activities.Any())
        {
            await mongoConnection.LoadActivitiesAsync();
        }
    }
}